<div class="dashboard-header">
    <header class="dashboard-header">
       <div class="container-fluid">
          <div class="row align-items-center">
             <div class="col-md-2">
             </div>
             <div class="col-md-10 actn-col">
                <ul class="navbar-nav">
                   <!-- <li class="nav-item">
                      <a class="nav-link user-drop dropdown-toggle" routerlink="#" role="button"
                         data-bs-toggle="dropdown" aria-expanded="false">
                         <img src="../../assets/img/notification.svg" alt="notification">
                      </a>
                      <ul class="dropdown-menu notify-list">
                         <li>
                            <a class="dropdown-item" routerlink="#">
                               <span class="prof-pic">
                                  <img src="../../assets/img/notify-profile.png" alt="profile">
                               </span>
                               <div class="info">
                                  <span class="name">New user signed up: <span>Benjamin Ross</span></span>
                                  <span class="date">04/24/1992</span>
                               </div>
                            </a>
                         </li>
                         <li class="mob-only-items">
                            <hr class="dropdown-divider">
                         </li>
                         <li class="mob-only-items">
                            <a class="dropdown-item" routerlink="#">
                               <span class="prof-pic">
                                  <img src="../../assets/img/notify-profile.png" alt="profile">
                               </span>
                               <div class="info">
                                  <span class="name">New user signed up: <span>Benjamin Ross</span></span>
                                  <span class="date">04/24/1992</span>
                               </div>
                            </a>
                         </li>
                         <li class="mob-only-items">
                            <hr class="dropdown-divider">
                         </li>
                         <li class="mob-only-items">
                            <a class="dropdown-item" routerlink="#">
                               <span class="prof-pic">
                                  <img src="../../assets/img/notify-profile.png" alt="profile">
                               </span>
                               <div class="info">
                                  <span class="name">New user signed up: <span>Benjamin Ross</span></span>
                                  <span class="date">04/24/1992</span>
                               </div>
                            </a>
                         </li>
                      </ul>
                   </li> -->
                   <!-- <li class="nav-item">
                      <a class="nav-link user-drop" routerlink="#" role="button" >
                      <img src="../../assets/img/message.svg" alt="msg">
                      </a>
                   </li> -->
                   <li class="nav-item dropdown user-drop-dwn">
                      <div class="usr-img"><img src="../../assets/img/user.png" alt="user"></div>
                      <a class="nav-link dropdown-toggle" routerlink="#" role="button" data-bs-toggle="dropdown"
                         aria-expanded="false">
                         <div class="user-detai">
                            <span class="user-name">
                               Stephen Harli
                            </span>
                            <span class="user-position">Oceanwoods</span>
                         </div>
                      </a>
                      <ul class="dropdown-menu">
                         <li>
                            <a class="dropdown-item" routerlink="profile.html">
                               <span class="img"><img src="../../assets/img/Profile_view.svg" alt="profile"></span>
                               <span class="name">My Profile</span>
                            </a>
                         </li>
                         <li class="mob-only-items">
                            <hr class="dropdown-divider">
                         </li>
                         <li class="mob-only-items">
                            <a class="dropdown-item" routerlink="forgot-password.html">
                               <span class="ico"><img src="../../assets/img/change-password.svg" alt="Channels"></span>
                               <span class="txt">Change Password</span>
                            </a>
                         </li>
                         <li class="mob-only-items">
                            <hr class="dropdown-divider">
                         </li>
                         <li class="mob-only-items">
                            <a class="dropdown-toggle1 dropdown-item" routerlink="#" id="logoutDropdown" role="button"
                               data-bs-toggle="modal" data-bs-target="#logoutModal" aria-expanded="false">
                               <span class="ico"><img src="../../assets/img/Sign_out.svg" alt="Privacy"></span>
                               <span class="txt">Logout</span>
                            </a>
                         </li>
                      </ul>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </header>
 </div>